[2021-09-30 17:31] HeySitam opened #5 "FireBase OTP verification"
- Please add the OTP verification feature using firebase at the time of signup.
- You need to push your PR on [develop](https://github.com/sitamadex11/CovidHelp/tree/develop) branch only.
## Reference

[2021-09-30 18:45] HeySitam opened #6 "Remove hardcoded strings from xml file"
- Instead of hardcoded string save the string in the string.xml file and then use it using @string resource.

[2021-09-30 19:24] HeySitam opened #7 "UI enhancement: Change the state selection spinner UI in Covid tracker section."
## In this section, it is not cleared to the user that we can see state-wise covid update also. So please modify and enhance the UI so that users can understand it.

# Before Click :
![1](https://user-images.githubusercontent.com/76570320/135517612-bc987dd5-ec31-4126-ba42-b1dff739358b.jpg)

# After Click :
![2](https://user-images.githubusercontent.com/76570320/135517691-a90d4b91-99ee-4368-bb49-46

[2021-10-01 02:31] KarandeepSingh15 commented on #6
Hey @sitamadex11 ,
Can you Assign this to me?

[2021-10-01 05:42] rishuyadav commented on #7
Hey @sitamadex11 I would like to take up this issue, can u please assign it to me
Thanks

[2021-10-01 05:59] Rahul123456789mondal commented on #5
Hey @sitamadex11 I would like to take up this issue, can u please assign it to me
Thanks

[2021-10-01 08:08] HeySitam commented on #7
sure go for it.

[2021-10-01 08:09] HeySitam commented on #5
sure. Go for it😁

[2021-10-01 10:00] Rishavgupta12345 commented on #6
can i do this ?

[2021-10-01 10:06] HeySitam opened #9 "Login screen UI update"
please update the login screen UI.

[2021-10-01 10:08] Akash-Kumar-Sen commented on #9
I can help you out. Please assign this issue to me.

[2021-10-01 10:10] HeySitam commented on #9
sure

[2021-10-01 10:20] HeySitam commented on #6
@Rishavgupta12345 bro I will soon create many issues then I will assign you. @GeorgeET15 has already given the pr. please have patience and give me some time.

[2021-10-01 10:23] #9 closed, assigned to Akash-Kumar-Sen

[2021-10-01 10:33] HeySitam opened #12 "Extention File update"
please update the extension file with proper instructions.

[2021-10-01 10:58] #6 closed, assigned to nobody

[2021-10-01 10:59] Akash-Kumar-Sen commented on #12
please assign the issue to me.

[2021-10-01 16:56] #12 closed, assigned to Akash-Kumar-Sen

[2021-10-01 17:38] HeySitam opened #14 "Update the extention3.kt file."
Please update the extention3.kt file with proper understandable kotlin code.

[2021-10-01 17:38] Akash-Kumar-Sen commented on #14
I can help you sir. Please Assign this to me.

[2021-10-01 17:40] HeySitam opened #15 "Update the extention4.kt file."
Please update the extention4.kt file with proper understandable kotlin code.

[2021-10-01 17:43] Akash-Kumar-Sen commented on #15
I can help you.

[2021-10-01 17:47] #14 closed, assigned to Akash-Kumar-Sen

[2021-10-01 17:53] #15 closed, assigned to Akash-Kumar-Sen

[2021-10-01 18:26] rishuyadav commented on #7
Hey @sitamadex11 I have done the required UI Changes, spanner looks quite good now and easily understandable for the user.

[2021-10-01 20:09] #7 closed, assigned to rishuyadav

[2021-10-02 15:39] HeySitam opened #19 "Authenticate Using Google Sign-In (FireBase)"
## Description:
- Use Google sign in auth using firebase
- Add a google SignIn button in the sign-up and sign-in screen if it is not there.
## References

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on t

[2021-10-02 16:00] SGR007 commented on #19
hey can you assign this to me

[2021-10-02 16:01] HeySitam commented on #19
sure go for it

[2021-10-02 16:09] HeySitam opened #20 "UI Update: Splash Screen Text Change."
## Description:
- Change the text from `Need Help?` to `CovidHelp`
## Where to change :
![244172939_192965979584893_5995018542265692356_n](https://user-images.githubusercontent.com/76570320/135724123-77bdec82-1d88-46cb-95fe-241654583ed5.jpg)
## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- bef

[2021-10-02 16:10] trybick commented on #20
Hi I can do this 👋

[2021-10-02 16:11] HeySitam commented on #20
sure go for it.

[2021-10-02 16:17] trybick commented on #20
PR opened #21

[2021-10-02 16:18] #20 closed, assigned to trybick

[2021-10-02 16:42] HeySitam opened #22 "UI Update: Add Animation in Splash Screen."
## Description:
- Add animation to the elements of the splash screen.
- Make it cooler and attractive 😋
## Here is the static Splash Screen :
![243377462_374645797662625_3825529616698737907_n](https://user-images.githubusercontent.com/76570320/135725052-4bfa80e9-3e54-4902-9280-c8c953f450c2.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to

[2021-10-02 19:17] HeySitam opened #23 "BUG: the text from dialog box is not copying to the mail"
## Description:
- In `Contact Us` section, when we try to send a mail then the entered text from dialog box is not copying into the text.
## Demo of problem :

https://user-images.githubusercontent.com/76570320/135729278-56e4a340-880e-428c-b270-9857642deb6a.mp4

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure t

[2021-10-02 19:20] pgonzazalez commented on #23
Hi! Could I work on this issue? 😊

[2021-10-02 19:26] HeySitam opened #24 "UI: Update the UI of "About App" section"
## Description:
- Update the UI of the `-: About App :-` section. Make it more attractive.
## Existing UI :

![about app](https://user-images.githubusercontent.com/76570320/135729447-4053bd2d-b4c0-4a3b-80ca-6f42173ed2aa.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your

[2021-10-02 19:27] HeySitam commented on #23
Sure go for it.

[2021-10-02 19:28] TishaJhabak1014 commented on #24
@sitamadex11 can I take this issue plz. Would love to work on it.

[2021-10-02 19:29] HeySitam commented on #24
sure go for it.

[2021-10-02 19:33] ritviksharma3 commented on #22
Hi, Can you assign this to me?

[2021-10-02 19:34] TishaJhabak1014 commented on #24
@sitamadex11 sir, also plz add `hactoberfest-accepted` label : )

[2021-10-02 19:38] HeySitam opened #25 "New Feature: Add a Privacy Policy section in the Navigation Drawer."
## Description:
- Add a new menu item named `Privacy Policy` in the navigation drawer before `Logout`.
- when it is clicked, open the below-given link inside the app using a WebView
## Link to be opened:
https://covidhelp-3.flycricket.io/privacy.html

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assig

[2021-10-02 19:38] HeySitam commented on #24
@TishaJhabak1014 done

[2021-10-02 19:53] HeySitam opened #26 "UI: Update the Volunteers list item UI"
## Description:
- Update the Volunteers list item's UI. Make it more attractive. and with your PR try to send a screenshot or screen recording of your work.
## Existing UI :
![Volunteer list](https://user-images.githubusercontent.com/76570320/135730110-089df61b-670f-44ae-88de-0fa64beb08c5.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to

[2021-10-02 19:56] HeySitam opened #27 "UI: Update the Vaccine Status list item's UI"
## Description:
- Update the  Vaccine Status list item's UI. Make it more attractive. and with your PR try to send a screenshot or screen recording of your work.
## Existing UI :
![Vaccine status list](https://user-images.githubusercontent.com/76570320/135730223-116132c6-fc42-4ad2-98f3-9bb83e73a645.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are th

[2021-10-02 22:13] mayorjay commented on #25
@sitamadex11 I will like to work on this, if that's okay

[2021-10-03 07:14] SaiSridhar783 commented on #26
Hey @sitamadex11! I would like to work on this, can you assign it to me?

[2021-10-03 08:22] HeySitam commented on #26
sure go for it.

[2021-10-03 08:22] HeySitam commented on #25
sure go for it.

[2021-10-03 11:48] HeySitam opened #28 "Doc: Add a new Extention Feature(extention5.kt)"
## Description:
- add a new `extention5.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time th

[2021-10-03 11:49] Paulraj-dev commented on #28
I want to work on this issue

[2021-10-03 11:52] HeySitam opened #29 "Doc: Add a new Extention Feature(extention6.kt)"
## Description:
- add a new `extention6.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time th

[2021-10-03 11:52] Paulraj-dev commented on #29
I want to work on this issue

[2021-10-03 11:53] HeySitam opened #30 "Doc: Add a new Extention Feature(extention7.kt)"
## Description:
- add a new `extention7.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time th

[2021-10-03 11:53] Paulraj-dev commented on #30
I want to work on this issue

[2021-10-03 11:54] HeySitam opened #31 "Doc: Add a new Extention Feature(extentio8.kt)"
## Description:
- add a new `extention8.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time th

[2021-10-03 11:55] Paulraj-dev commented on #31
I want to work on this issue

[2021-10-03 11:56] HeySitam commented on #31
Sure go for it.

[2021-10-03 11:57] HeySitam commented on #30
sure.

[2021-10-03 12:07] #28 closed, assigned to Paulraj-dev

[2021-10-03 12:11] #29 closed, assigned to Paulraj-dev

[2021-10-03 12:15] #30 closed, assigned to Paulraj-dev

[2021-10-03 12:17] #31 closed, assigned to Paulraj-dev

[2021-10-03 12:27] HeySitam opened #36 "Doc: Add a new Extention Feature(extention9.kt)"
## Description:
- add a new `extention9.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time th

[2021-10-03 12:27] SkFeejan commented on #36
**I want to enroll this issue.**

[2021-10-03 12:28] HeySitam opened #37 "Doc: Add a new Extention Feature(extention10.kt)"
## Description:
- add a new `extention10.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time t

[2021-10-03 12:28] SkFeejan commented on #37
**I want to enroll to this issue**

[2021-10-03 12:29] HeySitam opened #38 "Doc: Add a new Extention Feature(extention11.kt)"
## Description:
- add a new `extention11.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time t

[2021-10-03 12:29] SkFeejan commented on #38
**I want to enroll**

[2021-10-03 12:30] HeySitam opened #39 "Doc: Add a new Extention Feature(extention12.kt)"
## Description:
- add a new `extention12.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time t

[2021-10-03 12:30] SkFeejan commented on #39
I want to enroll

[2021-10-03 12:36] #36 closed, assigned to SkFeejan

[2021-10-03 12:40] #37 closed, assigned to SkFeejan

[2021-10-03 12:43] #38 closed, assigned to SkFeejan

[2021-10-03 12:45] #39 closed, assigned to SkFeejan

[2021-10-03 19:07] HeySitam opened #44 "Doc: Add a new Extention Feature(extention13.kt)"
## Description:
- add a new `extention13.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time t

[2021-10-03 19:08] HeySitam opened #45 "Doc: Add a new Extention Feature(extention14.kt)"
## Description:
- add a new `extention14.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time t

[2021-10-03 19:17] A-jha383 commented on #44
I am interested

[2021-10-03 19:18] A-jha383 commented on #45
I am interested to work

[2021-10-03 19:23] #44 closed, assigned to A-jha383

[2021-10-03 19:26] HeySitam opened #47 "Doc: Add a new Extention Feature(extention15.kt)"
## Description:
- add a new `extention15.kt`

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- your pr should be pushed on the `develop` branch only.
- try to complete your assigned task within 3 to 5 days and if you need more time t

[2021-10-03 19:28] #45 closed, assigned to A-jha383

[2021-10-03 19:28] A-jha383 commented on #47
I am interested to work on it

[2021-10-03 19:35] #47 closed, assigned to A-jha383

[2021-10-03 19:58] HeySitam opened #50 "feature update: Call volunteers directly from app with handling permission."
## Description:
- In the `Volunteers` section, make calls to volunteers directly from the app.
- manage run time permission.
## Existing UI :
![volunteer list](https://user-images.githubusercontent.com/76570320/135769558-154f0740-7484-4185-993c-cd1c570b2266.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure

[2021-10-03 20:02] HeySitam opened #51 "feature update: Send Message to the volunteers directly from app with handling permission."
## Description:
- In the `Volunteers` section, make messages to volunteers directly from the app.
- manage run time permission.
## Existing UI :
![volunteer list](https://user-images.githubusercontent.com/76570320/135769628-faa8e369-639e-4b97-ba2d-bc61ada80468.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be su

[2021-10-03 20:11] HeySitam opened #52 "UI Update: Change the text"
## Description:
- In `Resources` section, change the card view's title from `A project for supplying Oxygen Cylinder in your home` to `project Oxygen`.
## Where need to change?
![resources](https://user-images.githubusercontent.com/76570320/135769942-345d7685-aaab-4229-ae41-25672b2a297c.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to ma

[2021-10-03 20:16] HeySitam opened #53 "UI: Update the View Profile UI"
## Description:
- Update the existing UI of `View Profile` Section. Make the UI more attractive.✌
## Existing Ui:
![View Profile](https://user-images.githubusercontent.com/76570320/135770098-919a1a29-671e-4802-91d8-e3bb205e8588.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before push

[2021-10-03 21:08] prashant7139 commented on #52
@sitamadex11 I will like to work on this .

[2021-10-03 21:29] prashant7139 commented on #52
@sitamadex11 I would like to work on this issue.

[2021-10-04 01:33] Angel2001-programmer commented on #52
I would like to work on this issue.

[2021-10-04 02:42] HeySitam commented on #52
@prashant7139 you start working.
@Angel2001-programmer as I am assigning the issue on a first come first serve basis therefore please look into other issues. soon I will create more issues also.

[2021-10-04 02:45] #25 closed, assigned to mayorjay

[2021-10-04 02:48] SiddyDevelops commented on #53
Hello, I would like to resolve this issue, can you please assign this to me? Thank you.

[2021-10-04 05:14] HeySitam commented on #53
sure go for it.

[2021-10-04 06:08] SiddyDevelops commented on #53
Hello sir, I have created a PR #55 along with Screenshot, please review it. Thank you.

[2021-10-04 06:16] #53 closed, assigned to SiddyDevelops

[2021-10-04 07:51] SiddyDevelops commented on #22
Hello sir, I would like to work on this issue. Can you please assign this to me?

[2021-10-04 08:35] #52 closed, assigned to prashant7139

[2021-10-04 09:00] ghost commented on #51
Hello. Do you mean redirect to message app via intent?

[2021-10-04 09:05] shivamparihar12 commented on #50
Hi, I would like to work on this issue.

[2021-10-04 09:08] HeySitam commented on #50
sure go for it

[2021-10-04 09:11] HeySitam commented on #51
Actually, this functionality is already there. I want to send message directly from the app without opening the message app.

[2021-10-04 09:14] Biren-Nayak commented on #23
Is this still open?

[2021-10-04 09:48] SiddyDevelops commented on #22
@sitamadex11 Sir please assign me this issue so I can create a PR. Thank you.

[2021-10-04 09:57] HeySitam commented on #22
sure go for it.

[2021-10-04 09:59] HeySitam opened #57 "Use this thread for discussion😁"

[2021-10-04 10:00] HeySitam commented on #57
Hello Everyone. Guys if you felt any difficulties or want to discuss anything then please use this thread.

[2021-10-04 10:14] SiddyDevelops commented on #22
I have generated PR #58. Please review it. Thank you.

[2021-10-04 13:13] SiddyDevelops commented on #22
@sitamadex11, I have generated PR #58. Please review it. Thank you.

[2021-10-04 13:52] prashant7139 commented on #51
@sitamadex11 I would like to work on this issue .

[2021-10-04 14:11] pratik9315 commented on #27
Hey there!
Can I work on this issue if its alright?

[2021-10-04 14:11] HeySitam commented on #51
@prashant7139 sure

[2021-10-04 14:18] #22 closed, assigned to SiddyDevelops

[2021-10-04 14:19] HeySitam commented on #27
sure you can work on this issue.

[2021-10-04 14:22] HeySitam opened #59 "New Logo for the app"
## Description:
- Make a more attractive LOGO
## Existing LOGO :

![app_logo](https://user-images.githubusercontent.com/76570320/135868387-e511d996-4c3f-4026-a2c4-ea922351d3b9.png)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upstream.
- yo

[2021-10-04 14:38] Sonu589 commented on #59
https://user-images.githubusercontent.com/78155991/135870841-b64dfbe0-3aa0-4195-87e6-df3bf1542173.png

I hope this logo is Useful for U, Thank U

[2021-10-04 14:55] Hussain6 commented on #59
Can i do this?

[2021-10-04 15:12] cdhiraj40 opened #60 "Hide Keyboard when clicked in the background"
Activities do not support closing the keyboard when clicking in the background

as you can see the keyboard takes alot of area in the activity, its better to hide when clicked outside so that user can fill its details properly.

https://user-images.githubusercontent.com/75211982/135877212-3dd88632-0a06-40ac-8778-a2de295d0c56.mp4

[2021-10-05 06:40] Rishavgupta12345 commented on #59
assign it to me i am struggling for the hacktoberfest

[2021-10-05 06:49] HeySitam commented on #60
@cdhiraj40 THANKS FOR CREATING THE ISSUE. YOU CAN START WORKING.

[2021-10-05 07:18] HeySitam opened #61 "UI: use different suitable icons for different cities."
## Description:
- Here all the used icons are the same icon. Use some different appropriate icons for different cities. Inside `Resources` section.
## Existing UI :
![cities](https://user-images.githubusercontent.com/76570320/135977505-df14bf8d-ae6b-42c8-ab5d-1dfb74500828.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at

[2021-10-05 07:23] HeySitam commented on #59
@Rishavgupta12345 I am assigning on a first come first serve basis. please check the recent issues I have created. Or to take other assigned issues please wait for 5 days of it assigned.

[2021-10-05 07:24] HeySitam commented on #59
@Hussain6 you can take this issue.

[2021-10-05 07:33] HeySitam opened #62 "UI: Update the twitter help UI."
## Description:
- Update the UI and make it more attractive.
## Existing UI 👍
![cities](https://user-images.githubusercontent.com/76570320/135979722-e23a3712-2fb9-4234-8b07-11676f786313.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure to fetch upst

[2021-10-05 08:03] Zaraki596 commented on #61
I would like to take this up. Assign me this one

[2021-10-05 08:04] Zaraki596 commented on #62
What exactly are you looking for in this? Is it the **Twitter Help** button?

[2021-10-05 08:08] HeySitam commented on #61
Sure

[2021-10-05 08:12] HeySitam commented on #62
Change the UI of the fragment. Make it more attractive.

[2021-10-05 08:30] HeySitam opened #63 "UI: Update the UI of the option selection page"
## Description:
- Update the UI of the option selection page in the `Twitter Help` section. Make it more attractive.
## Existing UI :
![Options](https://user-images.githubusercontent.com/76570320/135988057-2daab7e6-4073-4d7f-a4ab-071e0c585bad.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned

[2021-10-05 10:12] chayan-dev commented on #62
@sitamadex11 I can work on this issue, assign me

[2021-10-05 10:24] HeySitam commented on #62
@chayan-dev sure go for it.

[2021-10-05 10:26] cdhiraj40 opened #65 "adding custom icon from eye-icon(default) for hide-show password in login/signup activity"
Currently, the login/sign up activity doesn't have a hide-show password icon
login
![image](https://user-images.githubusercontent.com/75211982/136006409-2ea4c33d-4fb7-4275-82e8-28f6f5ea5e38.png)

signup
![image](https://user-images.githubusercontent.com/75211982/136006302-7ffc8596-a130-4390-91d9-e6a2d9f6a46d.png)

[2021-10-05 12:33] #60 closed, assigned to cdhiraj40

[2021-10-05 12:34] HeySitam commented on #65
sure go for it.

[2021-10-05 16:39] Zaraki596 commented on #61
Hey @sitamadex11  can I change **Thane** to **Jaipur** as there is no city related to Rajasthan. Plus can't find a proper skyline from the thane to match with other city skyline icons colour?

[2021-10-05 17:32] HeySitam commented on #61
Sure. Then please make changes in the code accordingly.

On Tue, 5 Oct 2021, 10:09 pm Rohan Singh, ***@***.***> wrote:

[2021-10-05 17:34] Zaraki596 commented on #61
yeah definitely

[2021-10-05 19:03] HeySitam opened #66 "UI: Donation page UI update"
## Description:
- Update the UI of the `Donate Here` section. Make it more attractive.
- You change the overall UI, except the Recycler View.
## Existing UI :
![donation page](https://user-images.githubusercontent.com/76570320/136086393-2b173c19-d68b-41f0-983f-51cc1bae5392.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then a

[2021-10-05 19:16] HeySitam opened #67 "Doc: Make a list of covid-donation websites"
## Description:
- in the `Donation Here` page, there exist some websites which are not taking donations anymore. Please enlist those names.
- Find some more websites' information (Name and link) which are taking donations for covid related work.
- Make a `donation websites.md` file and add all the information.
## List Sample :
![donation page](https://user-images.githubusercontent.com/76570320/136

[2021-10-05 19:19] HeySitam opened #68 "UI: Update the UI of the home page"
## Description:
- Update the UI of the `Home` section. Make it more attractive.
- Please send a screenshot of your design.
- If you want to make UI design only, also welcome. In this case please share your figma design link.
## Existing UI :
![home page](https://user-images.githubusercontent.com/76570320/136088799-08b81aeb-7214-4eb5-8def-862e16d8bd0c.jpg)

## PR Instruction:
- Issue will be assign

[2021-10-05 19:28] HeySitam opened #69 "UI: Add a scroll view in covid tracker section"
## Description:
- Make the borderd section scrollable.
## The underlined section :

![Covid Tracker](https://user-images.githubusercontent.com/76570320/136089917-435cf52c-63f4-4169-aaf1-ffddbecdaa01.jpg)

## PR Instruction:
- Issue will be assigned on a first come first serve basis.
- If you are thinking to make a pr then at first be sure to get assigned.
- before pushing your PR please make sure

[2021-10-05 20:07] HeySitam opened #70 "New Feature: check internet connection when state and district list's spinner is clicked. ."
## Description:
- In this app, you will find many sections where all the States' and Districts' list are fetching from an API (`Cowin Public API`) when user click it.
- As It is fetching with the help of the internet, therefore, we need to make sure that when users will click the pop-up menu the internet connection should be activated. and If not then please show the dialog box.
-
## Existing Demo

[2021-10-05 21:21] ashgautamDev commented on #70
Hey @sitamadex11 i will work on this issue .
As you mentioned You we have created view  only have to implement it.

Ok i will do this , please assign it to me .

[2021-10-06 03:05] SiddyDevelops commented on #68
I would like to work on this issue, can you please assign it to me? Thank you

[2021-10-06 04:01] HeySitam commented on #68
@SiddyDevelops sure go for it.

[2021-10-06 04:05] HeySitam commented on #70
yeah, go for it. And make sure that you have implemented the feature in all sections in the app where these features are implemented. Therefore please explore the app well.

[2021-10-06 04:12] #50 closed, assigned to shivamparihar12

[2021-10-06 04:14] HeySitam commented on #68
Are you going to make changes in the code or going to make UI design in figma?

[2021-10-06 04:16] SiddyDevelops commented on #68
I'll directly make changes in the XML, do you want to keep the black and white theme or can I change the theme to some more attractive colors ?

[2021-10-06 04:35] HeySitam commented on #68
then please fetch the upstream. Change which is suitable with the splash screen. But don't use too much color. Try to manipulate with black and white theme

[2021-10-06 04:40] HeySitam commented on #23
@Bondcoder any update?

[2021-10-06 04:49] SiddyDevelops commented on #68
Okay, I'll stick to splash screen theme, thank you.

[2021-10-06 04:53] ashgautamDev commented on #70
Ok i will keep your all mentioned point in mind

[2021-10-06 05:53] HeySitam commented on #70
👍😁

On Wed, 6 Oct 2021, 10:23 am Ashish Gautam, ***@***.***>
wrote:

[2021-10-06 06:11] SiddyDevelops commented on #68
@sitamadex11 Sir do you like this:
I have changed background to a softer color, if you want I can choose a soft-black color.
<img height=600px src="https://user-images.githubusercontent.com/72121163/136149723-e0445347-4551-4934-b4dd-cf984bd16b18.jpg" />

[2021-10-06 06:59] #65 closed, assigned to cdhiraj40

[2021-10-06 09:00] Zaraki596 commented on #61
Added PR please review and check.

[2021-10-06 09:43] PranavVyas20 commented on #69
I want to work on this one, can you assign me please ?

[2021-10-06 12:01] SiddyDevelops commented on #68
@sitamadex11 Sir do you like this:
I have changed background to a softer color, if you want I can choose a soft-black color.
<img height=600px src="https://user-images.githubusercontent.com/72121163/136149723-e0445347-4551-4934-b4dd-cf984bd16b18.jpg" />

[2021-10-06 14:03] HeySitam commented on #69
sure go for it.

[2021-10-06 14:04] HeySitam commented on #68
Yup nice work. Please send the PR then.

[2021-10-06 14:09] cdhiraj40 opened #74 "Sending email for Feedback/Queries doesn't work"
https://user-images.githubusercontent.com/75211982/136219710-d0bd29d4-ec9f-4cbd-b3bb-813ad0ca28a6.mp4

[2021-10-06 14:13] cdhiraj40 commented on #74
this issue is probably happening because of this
 ```intent.resolveActivity(packageManager) != null ``` as its always getting passed as null
  I don't have much understanding about what it does but I have changed the code and tried and it works perfectly in the phones who have Gmail client apps otherwise it gives toast errors.
  if you @sitamadex11 I can make PR for this :)

[2021-10-06 14:19] SiddyDevelops commented on #68
@sitamadex11 Sir I have generated a PR #75. Please review it, thank you.

[2021-10-06 14:48] #51 closed, assigned to prashant7139

[2021-10-06 14:52] HeySitam commented on #74
Thank you for identifying this issue. actually, I have already created an issue with this problem #23. Yeah if you have done it already then feel free to push the PR

[2021-10-06 15:04] #68 closed, assigned to SiddyDevelops

[2021-10-06 15:30] cdhiraj40 commented on #23
@sitamadex11 you can assign me i will make PR in some time thanks :)

[2021-10-06 15:48] #61 closed, assigned to Zaraki596

[2021-10-06 16:53] #74 closed, assigned to cdhiraj40

[2021-10-06 16:53] #23 closed, assigned to Bondcoder

[2021-10-06 16:59] HeySitam commented on #59
@Rishavgupta12345 would you like to work on this issue?

[2021-10-06 17:03] Rarj commented on #66
Hi @sitamadex11, i will work with this issue depend on your desciption 😄
would you like to assign this work to me?

[2021-10-06 17:18] HeySitam commented on #66
Sure.

[2021-10-06 17:23] Hritik157 commented on #67
@sitamadex11 plz assign this issue to me.

Just a doubt..... I just have to prepare a donation websites.md file where I have to put information regarding about the org.

[2021-10-06 19:53] PranavVyas20 commented on #69
Is this ok ?

https://user-images.githubusercontent.com/90063033/136273647-7a4bfdbe-ab47-43f0-9e78-15f722a0333a.mp4

[2021-10-06 20:07] Rarj commented on #66
Hi @sitamadex11 , I have been created PR about Update Donation UI 😄 you can check my work.
Thank you.

[2021-10-07 05:51] Rishavgupta12345 commented on #59
yes assign me

[2021-10-07 07:05] pratik9315 commented on #27
Hey @sitamadex11
I have made a pull request in #81

[2021-10-07 09:56] PranavVyas20 commented on #69
@sitamadex11 I have opened a PR kindly review it

[2021-10-07 11:09] HeySitam commented on #67
yeah sure go for it.
Just put the org name, a small description, and its link. Make it in a table format.

[2021-10-07 11:15] #69 closed, assigned to PranavVyas20

[2021-10-07 17:54] #27 closed, assigned to pratik2315

[2021-10-07 17:55] #66 closed, assigned to Rarj

[2021-10-07 17:56] HeySitam commented on #59
sure

[2021-10-08 05:40] Rarj commented on #63
Hi @sitamadex11, can i contribute in your antoher issue? I mean this one. If you open with this, feel free to assign me😁
Cheers!🍺

[2021-10-08 06:09] Rishavgupta12345 commented on #19
can i work on it ?

[2021-10-08 07:24] rishuyadav commented on #63
hey, @sitamadex11 Can you explain a bit about what do you mean particularly, How can it be made more attractive? Which all areas have a scope of improvement, the UI now looks clean and simple let me know which all widgets can i style or make changes in

[2021-10-08 07:34] SGR007 commented on #19
i am working on it

[2021-10-08 11:08] cdhiraj40 opened #83 "Old Closing Keyboard approach is causing Problems in Login/Sign up screen"
Some time ago I implemented the closing Keyboard method and it worked fine in my opinion but today when I went to login screen for testing something I found some bug which was not pretty annoying and I take all fault for that.
Sorry, @sitamadex11 I would like to rectify the problem, and this time I have checked a lot, and please check too.
I will give recordings below.

old:

https://user-images.g

[2021-10-08 11:10] cdhiraj40 commented on #83
I hope you @sitamadex11  give me chance to rectify the problem and again sorry for the implementation. I should have tested one more time :/

[2021-10-08 11:26] HeySitam commented on #83
okk sure go for it.

[2021-10-08 15:59] Rarj commented on #26
Hi @sitamadex11 , you can assign this one to me.

[2021-10-09 08:06] SGR007 commented on #19
@sitamadex11 i have impleted code to signin user with google, but i am gettting this warning

[code]

have you added SHA-1 key to project?

[2021-10-09 12:17] cdhiraj40 opened #86 "Clicking on Add Yourself as Volunteer doesnt take to proper Activity/fragment"
https://user-images.githubusercontent.com/75211982/136657517-d2f9ca0f-611c-4ec8-b295-2a2912134347.mp4

[2021-10-09 12:30] cdhiraj40 commented on #86
hey @sitamadex11 I'm not sure but can we even go to directly add yourself as a volunteer using ``` fragmentTransaction ``` ?

[2021-10-09 14:36] HeySitam commented on #86
Actually, the idea is to add yourself as a volunteer you need to click on the `floating action button`. You can do one thing that what ever I the code base is to add yourself as a volunteer in the `floating action button`  simply use it in the menu item of the nav drawer.

[2021-10-09 14:38] #83 closed, assigned to cdhiraj40

[2021-10-09 14:41] HeySitam commented on #19
yeah I have added the SHA-1 key

[2021-10-09 14:45] HeySitam commented on #63
@Rarj  yes you can.
@rishuyadav yeah, you are right that the UI is already clean. simply I have created this issue to make the Ui more attractive if someone can as a `good first issue` to help you all.

[2021-10-09 14:46] HeySitam commented on #63
sorry @Rarj and @rishuyadav for the late reply.

[2021-10-09 14:47] HeySitam commented on #26
@Rarj yes you can start working. Sorry for the late reply.

[2021-10-09 14:54] HeySitam commented on #26
@Rarj And one more thing the `Vaccine Status` list is already updated. please use the similar color combination

[2021-10-09 14:58] cdhiraj40 commented on #86
okay sure I will give it a try, you can assign me :)

[2021-10-09 15:08] Rarj commented on #26
@sitamadex11 sure. I will use similar color combination to achieve better user experience.
thanks!

[2021-10-09 15:09] Rarj commented on #63
@sitamadex11 no worries. I will work with this issue first than the other one.

[2021-10-09 15:09] HeySitam commented on #86
SURE.

[2021-10-09 15:10] HeySitam commented on #86
@cdhiraj40 please join our group for discussion.
[CLICK HERE](https://chat.whatsapp.com/JXYziNoD3lD9RWQwD3VyEe) TO JOIN.

[2021-10-09 15:11] HeySitam commented on #70
@ashgautamDev Any Updates?

[2021-10-09 15:12] HeySitam commented on #70
@ashgautamDev  please join our group for discussion.
[CLICK HERE](https://chat.whatsapp.com/JXYziNoD3lD9RWQwD3VyEe) TO JOIN.

[2021-10-09 15:14] HeySitam commented on #67
@Hritik157  please join our group for discussion.
[CLICK HERE](https://chat.whatsapp.com/JXYziNoD3lD9RWQwD3VyEe) TO JOIN.

[2021-10-09 15:16] HeySitam commented on #63
@Rarj @rishuyadav  please join our group for discussion.
[CLICK HERE](https://chat.whatsapp.com/JXYziNoD3lD9RWQwD3VyEe) TO JOIN.

[2021-10-09 15:16] HeySitam commented on #59
@Rishavgupta12345  please join our group for discussion.
[CLICK HERE](https://chat.whatsapp.com/JXYziNoD3lD9RWQwD3VyEe) TO JOIN.

[2021-10-09 15:17] HeySitam commented on #24
@TishaJhabak1014 Any Updates?

[2021-10-09 15:17] Rarj commented on #63
yeah sure. thanks to inviting me!

[2021-10-09 15:17] HeySitam commented on #24
@TishaJhabak1014  please join our group for discussion.
[CLICK HERE](https://chat.whatsapp.com/JXYziNoD3lD9RWQwD3VyEe) TO JOIN.

[2021-10-09 15:18] HeySitam commented on #19
@SGR007  please join our group for discussion.
[CLICK HERE](https://chat.whatsapp.com/JXYziNoD3lD9RWQwD3VyEe) TO JOIN.

[2021-10-09 15:32] TishaJhabak1014 commented on #24
@sitamadex11 I doubt I lack the complete tech stack to fix the issue as I am only familiar with web dev with html, css, js.

[2021-10-09 15:43] HeySitam commented on #24
Okk no issues.

On Sat, 9 Oct 2021, 9:02 pm Tisha Jhabak, ***@***.***> wrote:

[2021-10-09 15:45] HeySitam commented on #26
Great 🤩

On Sat, 9 Oct 2021, 8:38 pm Rio Arjuna, ***@***.***> wrote:

[2021-10-09 15:46] SnehaKapoo1 commented on #24
please assign me this issue I will be very happy to be merged with my attractive UI idea.

[2021-10-09 15:48] HeySitam commented on #24
sure you can start working.
@SnehaKapoo1  please join our group for discussion.
[CLICK HERE](https://chat.whatsapp.com/JXYziNoD3lD9RWQwD3VyEe) TO JOIN.

[2021-10-09 15:56] SnehaKapoo1 commented on #24
Ohh sorry, I didn't use WhatsApp, I can join on telegram?

[2021-10-09 15:59] HeySitam commented on #24
Ok no issues. You can discuss here in the issue section also. Soon I will
create discord server. 😁
On Sat, 9 Oct 2021, 9:26 pm SnehaKapoo1, ***@***.***> wrote:

[2021-10-09 16:01] SGR007 commented on #19
have you added OAuth 2.0 Client ID for web application in GCP

[2021-10-09 16:02] AasthaSinha2002 commented on #63
I would like to work on this too could you assign me this ?

[2021-10-09 16:07] SnehaKapoo1 commented on #24
Yeah sure and could you please explain to me that In **About Section means up to? **

[2021-10-09 16:23] HeySitam commented on #19
No it's not added

On Sat, 9 Oct 2021, 9:31 pm SGR007, ***@***.***> wrote:

[2021-10-09 16:30] AasthaSinha2002 opened #87 "Correcting the error message."
During the signup, the error message displayed has a wrong spelling.  "Internaet"
Attaching the error message below

![image](https://user-images.githubusercontent.com/74906694/136666648-b7745a70-8f06-43ea-82cc-373d6819b6bc.png)

[2021-10-09 16:30] AasthaSinha2002 commented on #87
i would like to resolve this.
please assign me

[2021-10-09 16:31] AasthaSinha2002 commented on #87
@sitamadex11

[2021-10-09 18:11] AasthaSinha2002 commented on #87
@sitamadex11 please look into this

[2021-10-10 05:53] SGR007 commented on #19
please add OAuth 2.0 Client ID for web application in GCP, for google signin to work

[Credentials Page](https://console.cloud.google.com/apis/credentials)

[2021-10-10 06:18] HeySitam commented on #19
Okk I will give you update soon.

On Sun, 10 Oct 2021, 11:24 am SGR007, ***@***.***> wrote:

[2021-10-11 13:13] HeySitam commented on #87
Sorry for delay.

[2021-10-11 13:13] #87 closed, assigned to AasthaSinha2002

[2021-10-11 13:13] #63 closed, assigned to Rarj

[2021-10-11 13:14] AasthaSinha2002 commented on #87
Thanks for review and merging.

From: Sitam Sardar ***@***.***>
Date: Monday, 11 October 2021 at 6:43 PM
To: sitamadex11/CovidHelp ***@***.***>
Cc: AASTHA SINHA ***@***.***>, Assign ***@***.***>
Subject: Re: [sitamadex11/CovidHelp] Correcting the error message. (#87)

Sorry for delay.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://ind01

[2021-10-11 13:16] HeySitam commented on #19
OAuth client Id is there.

[2021-10-11 13:16] HeySitam commented on #19
@SGR007 please check. and very very sorry for the delay.

[2021-10-12 00:19] rishuyadav commented on #5
It has been quite a long time since the issue was created, can I work on this issue?

[2021-10-12 00:35] rishuyadav commented on #26
If the issue is still open, can it be assigned to me @sitamadex11

[2021-10-12 10:16] SGR007 commented on #19
hey, its still not working i am getting the same warning of google signin failed.

PS: i implemented the same in a dummy project it works there.

[2021-10-14 04:42] HeySitam commented on #5
yeah you can

[2021-10-14 04:43] HeySitam commented on #19
okay then I think you have to be a collaborator in my firebase project

[2021-10-14 04:45] HeySitam commented on #19
also can you please send me the PR with the code you have written till now with a screen recording?

[2021-10-14 04:47] HeySitam commented on #24
@SnehaKapoo1 open the nav drawer and here you will get the `-: About App :-` section.

[2021-10-20 06:04] Rarj commented on #26
@sitamadex11 I've create new PR for this issue. Please review my PR.
Thanks!

[2021-10-20 14:21] anamansari062 commented on #86
@sitamadex11 I would like to contribute and resolve this issue

[2021-10-20 14:25] cdhiraj40 commented on #86
@sitamadex11 I think I have contributed enough to not take  ``` good first issues ```  from people who are just starting to contribute to this repository, so on that thought I have unassigned myself, Hope you don't mind :)

[2021-10-20 14:48] HeySitam commented on #86
@anamansari062 sure you can start working.

[2021-10-20 14:50] HeySitam commented on #86
No issues bro. Thank you for helping others.

[2021-10-20 14:50] HeySitam commented on #24
@SnehaKapoo1 any update?

[2021-10-20 14:53] anamansari062 commented on #86
@sitamadex11 I resolved the error, can you please check

[2021-10-20 14:54] HeySitam commented on #86
@anamansari062 Please send the PR.

[2021-10-20 19:59] AkshaiBaruah commented on #67
@sitamadex11 Hey I would like to work on this issue. I think that the prev person to whom the issue was assigned did not make a PR .

[2021-10-26 15:58] #19 closed, assigned to SGR007

[2021-10-28 17:47] #86 closed, assigned to anamansari062

[2021-12-14 09:09] Kajal13081 commented on #67
@sitamadex11 I would like to work on this issue. Can you assign me?